{% extends "layout.html" %}


{% block content %} 

{% if user.is_authenticated %}
<div class="row">
<div class="col">
<h4>Accounts & Connection Data</h4>
<table><tr><th>{{ message_success }}</th></tr></table><br>
<table border="0" width="100%" class="table table-striped table-sm" style="font-size:12px;">
    <tr>
        <th> </th>
        <th>Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Host</th>
        <th>Port</th>
        <th>Key_1</th>
        <th>Key_2</th>
        <th>Key_3</th>
    </tr>
    {% for item in message %}
    <tr> 
        <td><a href="update_account/acc-{{ item.id }}"><img width="15" height="15" src="https://use.fontawesome.com/releases/v5.0.13/svgs/regular/edit.svg" /></a>
            <a href="delete_account/acc-{{ item.id }}"><img width="15" height="15" src="https://use.fontawesome.com/releases/v5.0.13/svgs/regular/trash-alt.svg" /></a>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.password }}</td>
        <td>{{ item.host }}</td>
        <td>{{ item.port }}</td>
        <td>{{ item.key_1 }}</td>
        <td>{{ item.key_2 }}</td>
        <td>{{ item.key_3 }}</td>
    </tr>
    {% endfor %}
</table>
<hr>

<a href="">Add new account</a>
    <hr>
    <form id="accounts_form" action="/accounts/" method="post" class="form-group form-inline ">
<input class="form-control" style="height: 25px; font-size: 12px; line-height: 12px;" id="accounts_form" type="text" name="accounts_form" maxlength="100" placeholder="Anything" required />
    {% csrf_token %}

    <input class="form-control" style="height: 25px; font-size: 12px; line-height: 12px;" type="submit" value="Search" / >
  <hr>
</form>
</div>
</div>

{% endif %}
{% endblock %}
