{% extends "layout.html" %}
{% block content %}

<div class="row">
<div class="col">
<form method="post">
{% csrf_token %}
<table><tr><th>{{ message_success }}</th></tr></table><br><br>
<table width="50%">
<tr><td>Name: </td><td><input class="form-control" name="name" id="name" value="{{ message.name }}"></td></tr>
<tr><td>Username: </td><td><input class="form-control" name="username" id="username" value="{{ message.username }}"></td></tr>
<tr><td>Password: </td><td><input class="form-control" name="password" id="password" value="{{ message.password }}"></td></tr>
<tr><td>Host: </td><td><input class="form-control" name="host" id="host" value="{{ message.host }}"></td></tr>
<tr><td>Port: </td><td><input class="form-control" name="port" id="port" value="{{ message.port }}"></td></tr>
<tr><td>Key_1: </td><td><input class="form-control" name="key_1" id="key_1" value="{{ message.key_1 }}"></td></tr>
    <tr><td>Key_2: </td><td><input class="form-control" name="key_2" id="key_2" value="{{ message.key_2 }}"></td></tr>
    <tr><td>Key_3: </td><td><input class="form-control" name="key_3" id="key_3" value="{{ message.key_3 }}"></td></tr>
</table>


<br>
<hr>
  <button type="submit" name="edit_save" value="edit_save">SAVE</button>
  
  
  <button  name='delete_save' value="delete_save">DELETE</button>

  
  <button  name="cancel_save" value="cancel_save">BACK</button>

  

</form>
</div>
</div>
{% endblock %}