{% extends "layout.html" %}
{% block content %}

<div class="row">
<div class="col">
    <p>{{ title }}</p>
    <hr>
        <p>Connection status: {{ message }}</p>
        <p>Account name: {{ account }}</p>
        <p>Number of followers: null</p>
    <!--
    <h4>Followers</h4>
    {% for item in followers %}
    <p>{{ item.username }}</p>
    {% endfor %}
-->
    <hr>

<form id="tag_form" method="post" class="form-group form-inline left">
{% csrf_token %}

<hr>
    <input class="form-control" style="height: 25px; font-size: 12px; line-height: 12px;" id="tag_name" type="text" name="tag_name" maxlength="100" placeholder="Tag" required /><br>
    <input class="form-control" style="height: 25px; font-size: 12px; line-height: 12px;" id="tag_number" type="text" name="tag_number" maxlength="100" placeholder="Number of tags" required />
    {% csrf_token %}

    <button style="height: 25px; font-size: 12px; line-height: 12px;"  name="like_by_tag" value="like_by_tag">LIKE</button>
</form>
    <hr>
    <form id = "tag_form" action="/find-and-like-by-tag/" method="post" class="form-group form-inline ">
        {% csrf_token %}
  <button style="height: 25px; font-size: 12px; line-height: 12px;"  name="cancel_back" value="cancel_back">BACK</button>
</form>
    <hr>
</div>
</div>
{% endblock %}